.beer-list {
  width: 60%;
  padding: 3em 2em;
  box-sizing: border-box;
  -webkit-box-shadow: 2px 0 17px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 0 17px -1px rgba(0,0,0,0.75);
  box-shadow: 2px 0 17px -1px rgba(0,0,0,0.75);
}
